@import 'import/variables';
@import 'components/base';
@import 'components/header';
@import 'components/category';

/* s : default */
.main .search {
	$h-input: $h-xl;
	
	&-wrap {
		margin-top: $mg-xs; 
	}
	&-input {
		height: $h-input;
		line-height: $h-input;
		border-radius: $h-input;
	}
	&-btn {
		height: $h-input;
		line-height: $h-input;
		padding: 0 $pd;
	}
}
.banner {
	&-wrap {
		padding-top: 22.23%; 
	}
	
	.list {
		.img {
			width: 85vw;
			min-width: 272px;
			height: 130px;
		}
	}
}
/* e : default */

