/* s : reset */
html, body, h1, h2, h3, h4, h5, p {
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		list-style: none;
	}
}
input {
	margin: 0;
	padding: 0;
	outline: 0;
}
a{
	text-decoration:none; 
	outline: none;  
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	color: inherit;
}
a:link,a:visited,a:hover,a:active{
	text-decoration:none;
	outline: none;
}
/* e : reset */


/* s : common style */
.blind {display: none;}

[class*=-wrap] {
	position: relative;
	display: block;
	padding: $mg-md;
	box-sizing: border-box;
	[class*=-wrap] {
		padding: 0;
	}
}

[class*=_full], .w-full {
	width: 100%;
	box-sizing: border-box;
}

.search {
	$h-input: map-get($input, h);

	&-input {
		@extend .w-full;
		height: $h-input;
		line-height: $h-input;
		background: map-get($input, bg);
		border: 0;
		border-radius: $h-input;
		padding: 0 map-get($input, pd);
	}
	&-btn {
		position: absolute;	
		right: 0;
		top: 0;
		height: $h-input;
		line-height: $h-input;
		padding: 0 map-get($input, pd);
		background: none;
		border: 0;
		box-sizing: border-box;

		&.btn_del {display: none;}
	}
}


.list, [class*=_list] {
	.list-item {display: block;}
	[class*=list-item] {
		text-align: center;
		.tit {
			display: block;
		}
	}
}

.scroll {
	overflow-y: auto;
	.list, [class*=_list] {
		width: 1000%; /* 스크립트로 사이즈 수정 할거임. */
		[class*=list-item] {
			float: left;
			+ [class*=list-item] {
				margin-top: 0;
				margin-left: $mg-xs;
			}
		}
	}
}

.item {
	position: relative;
	display: block;
	.img {
		display: block;
		height: 130px; //임시.
		border: 0;
		border-radius: map-get($item, radius);
		background: map-get($item, bg);
	}
	.rank {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
	}
	.btn_like {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 10;
	}
	.info {
		text-align: left;
	}
}

.title, , [class*=-title] {
	color: $f-bold;
	font-size: 24px;
}
.des, , [class*=-des] {
	color: $f-sub;
	font-size: 12px;
}
/* e : common style */