//breakPoint
$breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1920px,
) !default;

//color;
$primary:rgb(3, 99, 11);
$title:#333;
$text:#000;
$text-hover:#000;
$textBold:#333;

//font color
$f-default: #000;
$f-hover: #000;
$f-point: #ff9b96;
$f-light: #ccc;
$f-bold: #000;
$f-sub: #434343;

//color
$c-default: #f8ede0;
$c-point: #ff9b96;
$c-bg: #fff;
$c-dark: #3e2910;

//height
$h : 32px;
$h-xs: $h - 10;
$h-s: 24px;
$h-md: 32px;
$h-lg: 40px;
$h-xl: $h + 16;

//margin
$mg : 20px;
$mg-xs: $mg - 10;
$mg-s: $mg - 5;
$mg-md: $mg;
$mg-lg: $mg + 5;
$mg-xl: $mg + 10;

//padding
$pd: 20px;

//border-radius
$b-radius: 24px;

$wrap: (
	bg: #fff
	,pd: 20px
	,mg: 20px
	,radius: 24px
);
$item: (
	bg: $c-default
	,radius: 24px
);
$color: (
	default: #f8ede0
	,point: #ff9b96
	,bg: #fff
	,dark: #3e2910
);
$input: (
	h: 40px
	,pd: $pd
	,text: #000
	,bg: #f8ede0
	,radius: 24px
);



